.grid-bg {
  background:
    repeating-linear-gradient(
      to right,
      rgba(255,255,255,0.05) 0 1px,
      transparent 1px 40px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(255,255,255,0.05) 0 1px,
      transparent 1px 40px
    );
    background-size: 40px 40px;
}

@keyframes grid-background-animation {
  from  {
      background-position: 0px 0px;
  }
  to {
      background-position: 400px 400px;
  }
}

@import 'tailwindcss';
@plugin "daisyui" {
  themes: winter --default, dim;
};
